@import url("https://fonts.googleapis.com/css2?family=Nabla&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Silkscreen:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Silkscreen&display=swap");

.bar_upside_right span:hover {
  cursor: pointer;
}

.icon_heart {
  height: 100%;
  background: url("./images/hearts.png") no-repeat;
  width: 100px;
  height: 20px;
}

.icon_volume_off {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 15V9H8V8H10V7H12V17H10V16H8V15H6Z' fill='white'/%3E%3Cpath d='M15 10H16V9H15V10Z' fill='black'/%3E%3Cpath d='M16 11H17V10H16V11Z' fill='black'/%3E%3Cpath d='M18 13H19V12H18V13Z' fill='black'/%3E%3Cpath d='M19 14H20V13H19V14Z' fill='black'/%3E%3Cpath d='M15 14H16V13H15V14Z' fill='black'/%3E%3Cpath d='M16 13H17V12H16V13Z' fill='black'/%3E%3Cpath d='M17 12H18V11H17V12Z' fill='black'/%3E%3Cpath d='M18 11H19V10H18V11Z' fill='black'/%3E%3Cpath d='M19 10H20V9H19V10Z' fill='black'/%3E%3Cpath d='M10 8V7H8V8H10Z' fill='black'/%3E%3Cpath d='M8 9V8H6V9H8Z' fill='black'/%3E%3Cpath d='M6 9H5V15H6V9Z' fill='black'/%3E%3Cpath d='M6 15V16H8V15H6Z' fill='black'/%3E%3Cpath d='M8 16V17H10V16H8Z' fill='black'/%3E%3Cpath d='M10 17V18H12V17H10Z' fill='black'/%3E%3Cpath d='M12 17H13V7H12V17Z' fill='black'/%3E%3Cpath d='M12 7V6H10V7H12Z' fill='black'/%3E%3C/svg%3E%0A");
  width: 20px;
  height: 20px;
  display: none;
}

.icon_volume_on {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none'%3E%3Cpath fill='%23000' d='M16.667 9h1V8h-1v1ZM17.667 10h1V9h-1v1ZM17.667 15h1v-1h-1v1ZM16.667 16h1v-1h-1v1ZM14.667 11h1v-1h-1v1ZM14.667 14h1v-1h-1v1ZM19.667 10h-1v4h1v-4ZM16.667 11h-1v2h1v-2ZM9.667 17v1h2v-1h-2ZM7.667 16v1h2v-1h-2ZM5.667 15v1h2v-1h-2ZM5.667 9h-1v6h1V9ZM7.667 9V8h-2v1h2ZM9.667 8V7h-2v1h2ZM11.667 7V6h-2v1h2ZM11.667 17h1V7h-1v10Z'/%3E%3C/svg%3E");
  width: 20px;
  height: 20px;
}

/* switch set */

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.body {
  background-position: 0 0, 0 0, 100% 0;
  background-image: linear-gradient(
      to bottom,
      rgba(56, 58, 61, 0) 50%,
      rgba(56, 58, 61, 1) 50%
    ),
    radial-gradient(
      circle at 0 0,
      rgba(56, 58, 61, 0) 0.5em,
      rgba(56, 58, 61, 1) 0.515625em
    ),
    radial-gradient(
      circle at 100% 0,
      rgba(56, 58, 61, 0) 0.5em,
      rgba(56, 58, 61, 1) 0.515625em
    );
  box-shadow: inset 0 -1.25em 0.5em -1em rgba(0, 0, 0, 0.5);
}

.body::before,
.body::after {
  content: "";
  position: absolute;
  display: block;
}

.body::before {
  top: 0;
  left: 0.4375em;
  width: calc(100% - 0.875em);
  height: 0.3125em;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.25),
    rgba(255, 255, 255, 0)
  );
}

.body::after {
  top: 0.5625em;
  left: 0;
  width: 100%;
  height: calc(100% - 0.5625em);
  border-radius: 0 0 0.125em 0.125em;
  box-shadow: inset 0.0625em 0 rgba(255, 255, 255, 0.08),
    inset -0.0625em 0 rgba(255, 255, 255, 0.08);
}

.volume::before,
.volume::after {
  content: "";
  position: absolute;
  bottom: 0;
  display: block;
  width: 36%;
  height: 0.0625em;
  background-color: #555;
  border-radius: 0.0625em 0.0625em 0 0;
  box-shadow: inset 0 0.03125em 0.03125em #333;
}

.volume::before {
  left: 0;
}

.volume::after {
  right: 0;
}

.joy-con {
  position: absolute;
  top: 0;
  width: 3.8125em;
  height: 100%;
  background-color: #83868d;
  border: 0;
  backface-visibility: hidden;
}

.joy-con.left {
  right: calc(100% + 0.03125em);
  border-radius: 2.5em 0.25em 0.125em 2.5em;
  box-shadow: inset 0.125em -0.125em 0.375em rgba(0, 0, 0, 0.5),
    inset -0.3125em 0 0.0625em -0.25em rgba(0, 0, 0, 0.25),
    inset 0.375em 0.5625em 0.5em -0.25em #83868d,
    0.40625em 0.25em 0 -0.375em #222;
}

.joy-con.left::before {
  content: "";
  position: absolute;
  top: 0.125em;
  left: 0.0625em;
  display: block;
  width: calc(100% - 0.0625em);
  height: 50%;
  border-radius: 2.5em 0.25em 0 0;
  box-shadow: inset 0.125em 0.3125em 0.125em -0.25em rgba(255, 255, 255, 0.75);
  filter: blur(0.0625em);
}

.joy-con.right {
  left: calc(100% + 0.03125em);
  border-radius: 0.25em 2.5em 2.5em 0.125em;
  box-shadow: inset -0.125em -0.125em 0.375em rgba(0, 0, 0, 0.5),
    inset 0.3125em 0 0.0625em -0.25em rgba(0, 0, 0, 0.25),
    inset -0.375em 0.5625em 0.5em -0.25em #83868d,
    -0.40625em 0.25em 0 -0.375em #222;
}

.joy-con.right::before {
  content: "";
  position: absolute;
  top: 0.125em;
  right: 0.0625em;
  display: block;
  width: calc(100% - 0.0625em);
  height: 50%;
  border-radius: 0.25em 2.5em 0 0;
  box-shadow: inset -0.125em 0.3125em 0.125em -0.25em rgba(255, 255, 255, 0.75);
  filter: blur(0.0625em);
}

.button-group {
  position: absolute;
  left: 50%;
  width: 45%;
  padding-bottom: 45%;
  transform: translateX(-50%);
}

.left .button-group {
  top: 5.375em;
  margin-left: 2.5%;
}

.right .button-group {
  top: 2.125em;
  margin-left: -2.5%;
}

.button {
  position: absolute;
  width: 0.75em;
  height: 0.75em;
  margin: -0.375em;
  color: rgba(255, 255, 255, 0.6);
  background-color: #49494b;
  border-radius: 100%;
  box-shadow: inset 0 -0.0625em 0.125em rgba(0, 0, 0, 0.75),
    inset 0 0.125em 0.125em -0.0625em rgba(255, 255, 255, 0.4),
    0 0 0.03125em 0.0625em rgba(0, 0, 0, 0.6),
    0 0.0625em 0.25em 0.03125em rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.button:active {
  box-shadow: inset 0 -0.0625em 0.125em rgba(0, 0, 0, 0.75),
    inset 0 0.125em 0.125em -0.0625em rgba(255, 255, 255, 0.4),
    0 0 0.03125em 0.0625em rgba(0, 0, 0, 0.6);
}

.button:nth-child(1) {
  top: 0;
  left: 50%;
}

.button:nth-child(2) {
  top: 50%;
  right: 0;
}

.button:nth-child(3) {
  bottom: 0;
  left: 50%;
}

.button:nth-child(4) {
  top: 50%;
  left: 0;
}

.button.arrow::before,
.button.arrow::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 0.125em solid transparent;
  border-bottom: 0.25em solid rgba(255, 255, 255, 0.1);
  border-top: none;
}

.button.arrow::after {
  top: calc(50% - 0.03125em);
  border-bottom: 0.25em solid #272b2d;
}

.button.arrow.right::before,
.button.arrow.right::after {
  margin-left: 0.03125em;
  transform: translate(-50%, -50%) rotate(90deg);
}

.button.arrow.down::before,
.button.arrow.down::after {
  margin-top: 0.03125em;
  transform: translate(-50%, -50%) rotate(180deg);
}

.button.arrow.left::before,
.button.arrow.left::after {
  margin-left: -0.03125em;
  transform: translate(-50%, -50%) rotate(270deg);
}

.button.letter::before {
  content: attr(data-letter);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.375em;
  line-height: 1;
}

.stick {
  position: absolute;
  left: 50%;
  width: 1.75em;
  height: 1.75em;
  margin: -0.375em;
  transform: translateX(-50%);
  color: rgba(255, 255, 255, 0.6);
  background-color: #49494b;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 0.0625em 100%, 100% 0.0625em, 100%;
  background-image: linear-gradient(to bottom, #222, #111),
    linear-gradient(to bottom, #222, #333),
    linear-gradient(to bottom, #666, #111);
  border-radius: 100%;
  box-shadow: inset 0 -0.0625em 0.125em rgba(0, 0, 0, 0.75),
    inset 0 0.125em 0.125em -0.03125em rgba(0, 0, 0, 0.2),
    inset 0 0.1875em 0.125em -0.0625em rgba(255, 255, 255, 0.3),
    0 0 0.09375em 0.0625em rgba(0, 0, 0, 0.75),
    0 0.375em 1em 0.0625em rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.stick:active {
  box-shadow: inset 0 -0.0625em 0.125em rgba(0, 0, 0, 0.75),
    inset 0 0.125em 0.125em -0.03125em rgba(0, 0, 0, 0.2),
    inset 0 0.1875em 0.125em -0.0625em rgba(255, 255, 255, 0.3),
    0 0 0.09375em 0.0625em rgba(0, 0, 0, 0.75),
    0 0.375em 0.75em 0.0625em rgba(0, 0, 0, 0.4);
}

.stick::before,
.stick::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 75%;
  height: 75%;
  transform: translate(-50%, -50%);
  background-repeat: no-repeat;
  background-position: center;
  background-image: linear-gradient(to bottom, #666, #222);
  border-radius: 50%;
  box-shadow: inset 0 0 0.125em rgba(255, 255, 255, 0.08);
}

.stick::before {
  width: 85%;
  height: 85%;
  background-size: 0.0625em 100%, 100% 0.0625em, 100%;
  background-image: linear-gradient(to bottom, #444, #111),
    linear-gradient(to bottom, #222, #333),
    linear-gradient(to bottom, #222, #666);
  box-shadow: none;
}

.left .stick {
  top: 2.5em;
  margin-left: 2.5%;
}

.right .stick {
  top: 5.75em;
  margin-left: -2.5%;
}

.select,
.start {
  position: absolute;
  background-color: #49494b;
  cursor: pointer;
}

.select {
  top: 1.125em;
  right: 0.375em;
  width: 0.625em;
  height: 0.1875em;
  border-radius: 0.03125em;
  box-shadow: inset 0 -0.03125em 0.0625em rgba(0, 0, 0, 0.5),
    inset 0 0.03125em rgba(255, 255, 255, 0.2),
    0 0 0.03125em 0.03125em rgba(0, 0, 0, 0.6),
    0 0.09375em 0.125em -0.03125em rgba(0, 0, 0, 0.4);
}

.select:active {
  box-shadow: inset 0 -0.03125em 0.0625em rgba(0, 0, 0, 0.5),
    inset 0 0.03125em rgba(255, 255, 255, 0.2),
    0 0 0.03125em 0.03125em rgba(0, 0, 0, 0.6),
    0 0.09375em 0.125em -0.03125em rgba(0, 0, 0, 0.15);
}

.start {
  top: 0.90625em;
  left: 0.5625em;
  width: 0.1875em;
  height: 0.625em;
  box-shadow: 0 0 0.03125em 0.03125em rgba(0, 0, 0, 0.6),
    0 0.09375em 0.125em -0.03125em rgba(0, 0, 0, 0.4);
}

.start::before,
.start::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  transform: translate(-50%, -50%);
  background-color: #49494b;
  border-radius: 0.03125em;
}

.start::before {
  width: 0.625em;
  height: 0.1875em;
  box-shadow: inset 0 -0.03125em 0.0625em rgba(0, 0, 0, 0.5),
    inset 0 0.03125em rgba(255, 255, 255, 0.2),
    0 0 0.03125em 0.03125em rgba(0, 0, 0, 0.6),
    0 0.09375em 0.125em -0.03125em rgba(0, 0, 0, 0.4);
}

.start::after {
  width: 0.1875em;
  height: 0.625em;
  box-shadow: inset 0 -0.09375em 0.0625em -0.0625em rgba(0, 0, 0, 0.5),
    inset 0 0.03125em rgba(255, 255, 255, 0.2);
}

.start:active {
  box-shadow: 0 0 0.03125em 0.03125em rgba(0, 0, 0, 0.6),
    0 0.09375em 0.125em -0.03125em rgba(0, 0, 0, 0.15);
}

.start:active::before {
  box-shadow: inset 0 -0.03125em 0.0625em rgba(0, 0, 0, 0.5),
    inset 0 0.03125em rgba(255, 255, 255, 0.2),
    0 0 0.03125em 0.03125em rgba(0, 0, 0, 0.6),
    0 0.09375em 0.125em -0.03125em rgba(0, 0, 0, 0.15);
}

.capture {
  box-shadow: inset 0 0.25em 0.5em -0.0625em rgba(255, 255, 255, 0.1),
    inset 0 0.015625em 0.03125em -0.015625em rgba(255, 255, 255, 0.5),
    inset 0 0 0.03125em rgba(0, 0, 0, 1),
    0 0.015625em 0 0.03125em rgba(0, 0, 0, 0.75);
}

.capture::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70%;
  height: 70%;
  transform: translate(-50%, -50%);
  background-color: #3b3f40;
  border-radius: 50%;
  box-shadow: inset 0 0.0625em 0.0625em -0.03125em rgba(0, 0, 0, 0.75),
    inset 0 -0.03125em 0.03125em -0.03125em rgba(255, 255, 255, 0.5);
}

.capture:active {
  box-shadow: inset 0 0.25em 0.5em -0.0625em rgba(255, 255, 255, 0.1),
    inset 0 0.015625em 0.03125em -0.015625em rgba(255, 255, 255, 0.5),
    inset 0 0 0.03125em rgba(0, 0, 0, 1),
    0 0.015625em 0 0.03125em rgba(0, 0, 0, 0.5);
}

.home {
  box-shadow: inset 0 0 0 0.09375em #83868d,
    inset 0 0.25em 0.5em -0.0625em rgba(255, 255, 255, 0.1),
    inset 0 0.015625em 0.03125em -0.015625em rgba(255, 255, 255, 0.5),
    inset 0 0 0.03125em rgba(0, 0, 0, 1),
    0 0.015625em 0.03125em 0.0625em rgba(0, 0, 0, 0.65);
}

.home::before,
.home::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  transform: translate(-50%, -50%);
}

.home::before {
  width: 0.3125em;
  height: 0.25em;
  margin-top: 0.03125em;
  background-color: #444;
  box-shadow: inset 0 0 0 0.078125em #111, inset 0.109375em 0 0 #111,
    inset -0.109375em 0 0 #111,
    0 0.0625em 0 -0.03125em rgba(255, 255, 255, 0.08);
}

.home::after {
  margin-top: -0.125em;
  border-right: 0.21875em solid transparent;
  border-left: 0.21875em solid transparent;
  border-bottom: 0.1875em solid #111;
}

.home:active {
  box-shadow: inset 0 0 0 0.09375em #83868d,
    inset 0 0.25em 0.5em -0.0625em rgba(255, 255, 255, 0.1),
    inset 0 0.015625em 0.03125em -0.015625em rgba(255, 255, 255, 0.5),
    inset 0 0 0.03125em rgba(0, 0, 0, 1),
    0 0 0.015625em 0.0625em rgba(0, 0, 0, 0.6);
}

.shoulder {
  position: absolute;
  z-index: -1;
  top: -0.125em;
  display: block;
  width: 5.5em;
  height: 2.5em;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100%;
  border-radius: 5em 5em 0 0;
  cursor: pointer;
}

.shoulder.l {
  left: -0.125em;
  background-image: radial-gradient(
      circle at 3em 0.125em,
      rgba(15, 15, 15, 1) 0.125em,
      rgba(15, 15, 15, 0) 0.15125em
    ),
    radial-gradient(
      circle at 0.34375em 1.5em,
      rgba(15, 15, 15, 1) 0.125em,
      rgba(15, 15, 15, 0) 0.15125em
    ),
    radial-gradient(
      circle at 0.875em -0.625em,
      rgba(68, 68, 68, 1) 1.75em,
      rgba(15, 15, 15, 1) 2.15625em,
      rgba(15, 15, 15, 0) 2.1875em
    );
}

.shoulder.l:active {
  top: -0.0625em;
  left: -0.0625em;
}

.shoulder.r {
  right: -0.125em;
  background-image: radial-gradient(
      circle at 2.5em 0.125em,
      rgba(15, 15, 15, 1) 0.125em,
      rgba(15, 15, 15, 0) 0.15125em
    ),
    radial-gradient(
      circle at 5.1875em 1.5em,
      rgba(15, 15, 15, 1) 0.125em,
      rgba(15, 15, 15, 0) 0.15125em
    ),
    radial-gradient(
      circle at 4.5em -0.625em,
      rgba(68, 68, 68, 1) 1.75em,
      rgba(15, 15, 15, 1) 2.15625em,
      rgba(15, 15, 15, 0) 2.1875em
    );
}

.shoulder.r:active {
  top: -0.0625em;
  right: -0.0625em;
}
