/* @import url("https://fonts.googleapis.com/css2?family=Nabla&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Silkscreen:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Silkscreen&display=swap");

body {
  margin: 0 auto;
  background-color: rgb(45, 45, 45);
  color: white;
  font-family: "Silkscreen", cursive;
}

/* .bar_upside_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bar_upside {
  position: fixed;
  font-size: 30px;
  margin-bottom: 20px;
  width: 100%;
}

.bar_upside_left {
  display: flex;
  align-items: center;
}

.bar_upside_left img {
  width: 30px;
}

.bar_upside_title {
  font-size: 50px;
}

.bar_upside_right {
  display: flex;
}

.icon_heart {
  height: 100%;
}

.icon_sOn {
  display: none;
}

.icon_sOff {
  background: transparent;
  border: none;
  height: 100%;
}

.icon_sOff:hover {
  cursor: pointer;
} */

/* .game_main_wrap {
  position: relative;
} */

.bg_image {
  width: 800px;
  height: 600px;
  margin: 200px auto;
  background: url("./images/bg.png") no-repeat;
  background-size: cover;
  position: relative;
}
